@page "/"

<PageTitle>.NET Terrarium</PageTitle>

<div class="terrarium-home">
    <EcosystemStatus />

    <div class="terrarium-home__content">
        <div class="terrarium-chrome__viewport">
            <TerrariumViewport />
        </div>

        <aside class="terrarium-chrome__sidebar">
            <CreaturePanel />
            <MessageLog />
        </aside>
    </div>
</div>
